body
{
    background-color: #ccc;
}
.container
{
    height: 300px;
    width: 500px;
    margin: 100px auto;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    overflow: hidden;
}
.title
{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}
.head
{
    list-style: none;
    width: 100%;
    margin: 20px auto;
}
.head li
{
    float: left;
    text-align: center;
    border-right: 1px solid #d9d9d9;
    padding-right: 45px;
    padding-left: 35px;
}
.active
{
    border-top: 2px solid #002a80;
    color: #002a80;
}
.clear
{
    clear:both;
}
.article
{
    float: left;
    width: 490px;
}
 h3
{
    text-align: center;
}
 p
 {
     text-indent: 2em;
 }
 .scroll
 {
     height: 250px;
     width: 10px;
     float: right;
 }
 .scroll-wrap
 {
     background-color: #ccc;
     height: 18px;
     width: 8px;
     top:0;
     left:1px;
 }